body {
    margin: 0px;
    padding-bottom: 250px;
    background-color: rgb(241, 220, 123);
}
h1,h2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.frame {
    width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 213, 52);
    border: 5px solid rgb(73, 43, 43);
}
.writings {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
}
button {
    margin-bottom: 24px;
    margin-left: 6px;
    padding: center;
    background-color: rgb(55, 226, 83);
    font-size: 16px;
    border: 2px solid rgb(2, 104, 2);
    color: rgb(90, 9, 9);
    letter-spacing: 2px;
    border-radius: 8px;
}
button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(168, 189, 219);
}
.box1 {
    height: 150px;
    width: 150px;
    background-color: rgb(115, 14, 197);
    margin-bottom: 10px;
    margin-left: 10px;
}
.box2 {
    margin-left: 10px;
    height: 150px;
    width: 150px;
    background-color: rgb(221, 21, 194);
}
.buttons {
    margin-top: 10px;
}
.add {
    border-radius: 20px;
    border: 3px solid rgb(11, 13, 54);
    color: rgb(155, 77, 13);
    background-color: rgb(71, 218, 51);
}